@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 243, 244, 246; /* Light Gray Text */
  --background-start-rgb: 18, 18, 18; /* Tajiree Black */
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}